.certificates{
    margin-left: 20px;
}
.certification-1{
    margin-top:10px;
    margin-bottom:20px;
}
.certification-1 p {
    margin-left: 20px;
}
.certification-2 p{
    margin-left: 20px;
}
.buttons{
    margin-top: 20px;
}
.skills{
    margin-top:20px;
    margin-left:20px;
}
.skills ul li{
    margin-left:20px;
}
.skills ul{
    margin-top:5px;
}
@media screen and (max-width:768px) {
    .container-2{
        margin-top: 10px;
        padding: 0;
    }
    .btns{
        margin-left: 35px;
    }
}
